In [95]:
import regex as re
import pandas as pd

# Answer-1

In [96]:
sub='Python Exercises, PHP exercises.'
x=re.sub('\s',':',sub)
print(x)

Python:Exercises,:PHP:exercises.

In [97]:
sub=x
y=re.sub('[,.]',':',sub)
print(y)

Python:Exercises::PHP:exercises:

# Answer-2

In [98]:
dict_1= {'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df=pd.DataFrame(dict_1)
df['SUMMARY'] = df['SUMMARY'].str.replace('[^a-zA-Z\s]', '',regex=True)
df

         SUMMARY
0    hello world
1     XXXXX test
2  four five six

# Answer-3

In [99]:
def sentence(input_string):
    string_pattern=r'\b\w{4}\b'
    regex_pattern=re.compile(string_pattern)
    return regex_pattern.findall(input_string)

In [100]:
input_string='My name is param'
result=sentence(input_string)
print(result)

['name']

# Answer-4

In [101]:
def sentence(input_string):
    string_pattern=r'\b\w{3}\b|\b\w{4}\b|\b\w{5}\b'
    regex_pattern=re.compile(string_pattern)
    return regex_pattern.findall(input_string)

In [102]:
input_string='Australia wins odi world cup 2023'
result=sentence(input_string)
print(result)

['wins', 'odi', 'world', 'cup', '2023']

# Answer-5

In [103]:
def remove_parentheses(input_list):
    string_pattern=r'[()]'
    regex_pattern=re.compile(string_pattern)
    return [regex_pattern.sub('',s) for s in input_list]

# Answer-6

In [104]:
input_list=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
result=remove_parentheses(input_list)
print(result)

['example .com', 'hr@fliprobo .com', 'github .com', 'Hello Data Science World', 'Data Scientist']

# Answer-7

In [105]:
target_text='ImportanceOfRegularExpressionsInPython'
pattern=r"(?<=.)(?=[A-Z])"
l=re.split(pattern,target_text)
print(l)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

# Answer-8

In [106]:
def insert_spaces(target_text):
    string_pattern= r'(\d+)([A-Za-z]+)'
    regex_pattern=re.compile(string_pattern)
    return[regex_pattern.sub(r'\1 \2',target_text)]

In [107]:
target_text='RegularExpression1IsAn2ImportantTopic3InPython'
result=insert_spaces(target_text)
print(result)

['RegularExpression1 IsAn2 ImportantTopic3 InPython']

In [108]:
import regex as re
import pandas as pd

# Answer-9

In [109]:
def insert_spaces(target_text):
    pattern = r'(([A-Z][a-z0-9])+|(\d+))'
  # Replace the matched words with a space followed by the word
    result = re.sub(pattern, r' \1',target_text)
  # Remove any leading or trailing spaces
    result = result.strip()
    return result

In [110]:
target_text='RegularExpression1IsAn2ImportantTopic3InPython'
result=insert_spaces(target_text)
print(result)

Regular Expression 1 IsAn 2 Important Topic 3 InPython

In [3]:
import regex as re
import pandas as pd
import numpy as np

# Answer-10

In [4]:
df=pd.read_csv('happiness score dataset.csv')
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [5]:
pattern=r'(^[A-Za-z]{6})'
first_five_letters=df['Country'].str.extract(pattern,expand=True)
df['first_five_letters']=first_five_letters
print(df)

         Country                           Region  Happiness Rank  \
0    Switzerland                   Western Europe               1
1        Iceland                   Western Europe               2
2        Denmark                   Western Europe               3
3         Norway                   Western Europe               4
4         Canada                    North America               5
..           ...                              ...             ...
153       Rwanda               Sub-Saharan Africa             154
154        Benin               Sub-Saharan Africa             155
155        Syria  Middle East and Northern Africa             156
156      Burundi               Sub-Saharan Africa             157
157         Togo               Sub-Saharan Africa             158

     Happiness Score  Standard Error  Economy (GDP per Capita)   Family  \
0              7.587         0.03411                   1.39651  1.34951
1              7.561         0.04884                   1.30232  1.40223
2              7.527         0.03328                   1.32548  1.36058
3              7.522         0.03880                   1.45900  1.33095
4              7.427         0.03553                   1.32629  1.32261
..               ...             ...                       ...      ...
153            3.465         0.03464                   0.22208  0.77370
154            3.340         0.03656                   0.28665  0.35386
155            3.006         0.05015                   0.66320  0.47489
156            2.905         0.08658                   0.01530  0.41587
157            2.839         0.06727                   0.20868  0.13995

     Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                     0.94143  0.66557                        0.41978
1                     0.94784  0.62877                        0.14145
2                     0.87464  0.64938                        0.48357
3                     0.88521  0.66973                        0.36503
4                     0.90563  0.63297                        0.32957
..                        ...      ...                            ...
153                   0.42864  0.59201                        0.55191
154                   0.31910  0.48450                        0.08010
155                   0.72193  0.15684                        0.18906
156                   0.22396  0.11850                        0.10062
157                   0.28443  0.36453                        0.10731

     Generosity  Dystopia Residual first_five_letters
0       0.29678            2.51738             Switze
1       0.43630            2.70201             Icelan
2       0.34139            2.49204             Denmar
3       0.34699            2.46531             Norway
4       0.45811            2.45176             Canada
..          ...                ...                ...
153     0.22628            0.67042             Rwanda
154     0.18260            1.63328                NaN
155     0.47179            0.32858                NaN
156     0.19727            1.83302             Burund
157     0.16681            1.56726                NaN

[158 rows x 13 columns]

# Answer-11

In [6]:
def match_string(target_text):
        string_pattern = '[a-zA-z0-9_]*'
        regex_pattern=re.compile(string_pattern)
        return regex_pattern.findall(target_text)

In [7]:
target_text="Head scored 134_runs in the Final Match"
result=match_string(target_text)
print(result)

['Head', '', 'scored', '', '134_runs', '', 'in', '', 'the', '', 'Final', '', 'Match', '']

# Answer-12

In [8]:
def match_string(target_text):
        string_pattern = r'^4'
        regex_pattern=re.compile(string_pattern)
        return regex_pattern.findall(target_text)

In [11]:
target_text="41,25,65,35"
result=match_string(target_text)
print(result)

['4']

# Answer-13

In [31]:
target_text='192.168.080.005'
result=re.sub('\.[0]*', '.',target_text)
print(result)

192.168.80.5

In [46]:
input_string='On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country.'
string_pattern=r'(\d[A-Za-z]+)\d{1,2}(?:st|nd|rd|th)?\d{4}'
regex_pattern=re.match(string_pattern,input_string)
print(regex_pattern)

None

In [63]:
patterns = [ 'fox', 'dog', 'horse' ]
text = 'The quick brown fox jumps over the lazy dog.'
for pattern in patterns:
    print('Searching for "%s" in "%s" ->' % (pattern, text),)
    if re.search(pattern,  text):
        print('Matched!')
    else:
        print('Not Matched!')

Searching for "fox" in "The quick brown fox jumps over the lazy dog." ->
Matched!
Searching for "dog" in "The quick brown fox jumps over the lazy dog." ->
Matched!
Searching for "horse" in "The quick brown fox jumps over the lazy dog." ->
Not Matched!

In [64]:
pattern = 'fox'
text = 'The quick brown fox jumps over the lazy dog.'
match = re.search(pattern, text)
s = match.start()
e = match.end()
print('Found "%s" in "%s" from %d to %d ' % (match.re.pattern, match.string, s, e))

Found "fox" in "The quick brown fox jumps over the lazy dog." from 16 to 19

In [65]:
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for match in re.findall(pattern, text):
    print('Found "%s"' % match)

Found "exercises"
Found "exercises"
Found "exercises"

In [66]:
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for match in re.finditer(pattern, text):
    s = match.start()
    e = match.end()
    print('Found "%s" at %d:%d' % (text[s:e], s, e))

Found "exercises" at 7:16
Found "exercises" at 22:31
Found "exercises" at 36:45

In [67]:
def change_date_format(dt):
        return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1', dt)
dt1 = "2026-01-02"
print("Original date in YYY-MM-DD Format: ",dt1)
print("New date in DD-MM-YYYY Format: ",change_date_format(dt1))

Original date in YYY-MM-DD Format:  2026-01-02
New date in DD-MM-YYYY Format:  02-01-2026

In [69]:
target_text='Rohit sharma made 623 runs in 2023 world cup'

for m in re.finditer("\d+",target_text):
    print(m.group(0))
    print("Index position:", m.start())

623
Index position: 18
2023
Index position: 30

In [90]:
file = open("untitled1.txt",'r')
text=file.read()
pattern=r"\d{2}[/-]\d{2}[/-]\d{4}"
match=re.findall(pattern,text)
print(match)

['12-09-1992', '15-12-1999']

In [92]:
Sample_Text='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
number = re.findall('\d+',Sample_Text)
number = map(int, number)
print("Max_value:",max(number))

Max_value: 950

In [95]:
Sample_Text='RegularExpressionIsAnImportantTopicInPython'
result=re.findall('[A-Z][a-z]*',Sample_Text)
print(result)

['Regular', 'Expression', 'Is', 'An', 'Important', 'Topic', 'In', 'Python']